<div class="jumboFluid">
<div class="jumbotron">
<section class="content">


<%= form_tag search_hospitals_path, method: :get, class: "form-group" do %>
<div class="input-group">
<div class="input-group-addon">Search</div>
        <p>
          <%= text_field_tag :search, params[:search],  class: "form-control formInput", placeholder: "Eye, Maternity" %>
          <%# <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
</div>
  <% end %><br>
  
      
 
  <h3 class="intro2">Find the best HealthCare Options around you with Medapp.
  <br><%# Explore the best of healthcare available in your community.<br>
    Read and leave reviews to assist others seeking the best health care and keep our hospitals on their toes. %></h3>
</section>
</div>
</div>
<div class="hospitalList">
<h1 id="hospitalBanner">Hospitals</h1>
<blockquote> 
  <p class="text-center"><cite>&#8220;Explore the best of healthcare available in your community&#8221;</cite> </p>
</blockquote>

<% content_for(:body_attributes) do %>
    data-no-turbolink="false"
  <% end %>
<main>
<div class="container-fluid fluid">
<div class="row">
<% @hospitals.each do |hospital| %>
  <div class="col-md-4 col-xs-6">
    <div class="thumbnail">
        <%= link_to image_tag(hospital.image), hospital %>
        <div class="caption">
          <h4> <%= link_to hospital.name, hospital %></h4><br>
          <% if hospital.reviews.count == 0 %>
            0 Reviews
          <% elsif hospital.reviews.count == 1 %>
            <div class="star-rating" data-score= <%= hospital.avg_rating %> ></div>
            1 Review
            <% else %>
            <div class="star-rating" data-score= <%= hospital.avg_rating %> ></div>
            <%= hospital.length %> <%= "Reviews" %>
          <% end %>
    </div>
  </div>
  </div>
<% end %>
 </div>
 
</main>


<br>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Hospital', new_hospital_path, class: "btn btn-primary btn-lg" %>
<% end %>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
window.$_Tawk = undefined;
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/592da976b3d02e11ecc677a1/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
s1.style.background = 'yellow';
})();
</script>
<!--End of Tawk.to Script-->

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/morafamedapp/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

</div>