<div class="jumbotron">
  <h2>Find the best Hospitals around you with Medapp.</h2>
  <h3>Explore the best of healthcare available in your community.<br>
    Read and leave reviews to assist others seeking the best health care and keep our hospitals on their toes.</h3>
</div>
<h1>Hospitals</h1>

<% content_for(:body_attributes) do %>
    data-no-turbolink="false"
  <% end %>



<table class="table table-bordered table-hover sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City/Town</th>
      <th>State</th>
      <th>Phone</th>
      <th>Website</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= link_to hospital.name, hospital %>
        </td> 
        <td><%= hospital.address %></td>
        <td><%= hospital.city_town %></td>
        <td><%= hospital.state %></td>
        <td><%= hospital.phone %></td>
        <td><%= link_to hospital.website, hospital.website, target: :_blank %></td>
        <% if user_signed_in? && current_user.admin? %>
         <td><%= link_to 'Edit', edit_hospital_path(hospital), class: "btn btn-link" %></td>
          <td><%= link_to 'Destroy', hospital, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Hospital', new_hospital_path, class: "btn btn-link" %>
<% end %>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
window.$_Tawk = undefined;
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/592da976b3d02e11ecc677a1/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/morafamedapp/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>








<%= image_tag "https://s3-us-west-2.amazonaws.com/morafamedapp/hospital+background2.jpg" %>
