<p id="notice"><%= notice %></p>

<%= image_tag @hospital.image_url%>
<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @hospital.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @hospital.phone %>
</p>
<p>
  <strong>Website:</strong>
  <%= @hospital.website %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital), class: "btn btn-link" %> |
<%= link_to 'Back', hospitals_path, class: "btn btn-link" %>
