<div class="row">
  <div class="col-md-3">
  <%= image_tag @hospital.image_url if @hospital.image.present? %>
<h3>
  <%= @hospital.name %>
</h3>

<p>
  <strong>Address:</strong>
  <%= @hospital.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @hospital.phone %>
</p>
<p>
  <strong>Website:</strong>
  <%= link_to @hospital.website, @hospital.website %>
</p>

<%= link_to "Write a Review", new_hospital_review_path(@hospital), class: "btn btn-primary" %>

  </div>

  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3> No Reviews yet. Be the first to write one!</h3>
    <% else %>
    <% @reviews.each do |review| %>
      <p><%= review.rating %></p>
      <p><%= review.comment %></p>
    <% end %>
  <% end %>
  </div>
</div>




<%= link_to 'Edit', edit_hospital_path(@hospital), class: "btn btn-link" %> |
<%= link_to 'Back', hospitals_path, class: "btn btn-link" %>
